.timeTableButtonTaken {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 64px;
    margin:4%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
  }
  .timeTableButtonNotTaken {
    background-color: rgb(53, 199, 131);
    border: none;
    color: white;
    padding: 16px 64px;
    text-align: left;
    margin:4%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
  }
.buttonContainer {
    margin:12%;
}
.timeTableContainer {
    margin:2%;
}